{
  "token": "<DISCORD-APP-TOKEN>",
  "guildId": "<DISCORDSERVER-ID>",
  "clientId": "<DISCORD-APP-CLIENTID>",
  "roles": {
    "whitelisted": "<ID>",
    "eventManager": "<ID>",
    "support": "<ID>",
    "mod": "<ID>",
    "admin": "<ID>",
    "seniorAdmin": "<ID>",
    "owner": "<ID>"
  }
  "cftools": {
    "serverId": "<CFTOOLS-SERVERID>",
    "appId": "<CFTOOLS-APPID>",
    "appSecret": "<CFTOOLS-APPSECRET>",
    "banlist": "<CFTOOLS-BANLISTID>"
  }
}
